@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 206, 70);
    line-height: 1.65;
    
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/* NAVBAR */


nav {
    display: flex;
    background-color: rgb(0, 165, 141);
    justify-content: space-around;
    padding: 20px 0px;
    color: #fff;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: black;
    font-size: 30px;
    transition: 0.4s;
}

/* BURGER */


.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all 0.3s;

}



/* animasi burger */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px , -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px , 0);
}












.sidebar{
    background:  #2F323A;
    margin-top: -75px;
    padding-top: 40px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .profile{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;

}


.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar h5{
    color: yellow;
    margin-top: 0;
    margin-bottom: 20px;
}


.sidebar a{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 50px;
    transition: 0.5s;
    box-sizing: border-box;
}

.sidebar a:hover{
    font-size: 1.6em;
    background: #19B3D3;
}









.container-1 {
    box-shadow: 2px 2px 10px black;
    width: 900px;
    height: 100%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.kolom-utama{
    flex: 1;
    margin: 50px;
}

.kolom-utama p span{
    flex: 1;
    color: red;
}


.kolom-kedua{
    flex: 1;
    margin: 50px;
}


.kolom-ketiga{
    flex: 1;
    margin: 50px;
}



.container-11 {
    box-shadow: 2px 2px 10px black;
    width: 600px;
    height: fit-content;
    margin: 50px auto;
    background-color: rgb(146, 255, 217);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    
    
    
    
}


.kolom-utama11{
    flex: 1;
    margin: 50px;
}

.kolom-kedua11{
    flex: 1;
    margin: 50px;
}




.container-22 {
    box-shadow: 2px 2px 10px black;
    width: 850px;
    height: auto;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}


.kolom-utama22{
    flex: 1;
    margin: 50px;
    color: black;
}


.kolom-kedua22{
    flex: 1;
    margin: 50px;

}.kolom-kedua22 h2{
    color: red;
    flex: 1;
}





.wrapper{
    width: 470px;
    background: #fff;
    border-radius: 5px;
    padding: 25px 25px 30px;
}

.wrapper h2{
    color: #4671EA;
    font-size: 28px;
    text-align: center;
}

.wrapper textarea{
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-color: #bfbfbf;
    margin-top: 20px;
}

textarea:is(:focus, :valid){
    border-color: #4671EA;
    border-width: 2px;
    padding: 14px;
}

textarea::-webkit-scrollbar{
    width: 0px;
}



.bottom{

    box-shadow: 2px 2px 10px black;
    width: 600px;
    height: fit-content;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}

.bottom button{
    font-weight: bolder;
    letter-spacing: 2px;
    color: #4671EA;
    background-color: white;
    padding: 2em;
    border-radius: 50px;
    border: 2px solid  #4671EA;
    transition: 0.4s;
    cursor: pointer;
}

.bottom button:hover{
    color: white;
    background-color: #4671EA;
    padding: 2em;
    border-radius: 50px;
    border: 2px solid  #4671EA;
}

























/* FOOTER */

footer {
    background-color: rgb(66, 66, 9);
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #fff;

    bottom: 0;
    left: 0;
    right: 0;
}

.footer-copyright{
    background-color: rgb(66, 66, 9);
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}







.chatlive a{
    
    
    box-shadow: 2px 2px 10px black;
    background-color:  #2F323A;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3em;
    transition: 0.4s ease;
    color: white;
    padding: 10px;
}



.chatlive a span{
    
    color: red;
}

.chatlive a:hover{
    color: white;
    background-color: rgb(56, 251, 118);
    font-size: 1.6em;
}













/* tablet */

@media screen and (max-width: 768px ){
    
    nav ul {
        width: 50%;
    }

    
    .container-1{
        width: auto;
    }   

    .container-1 .kolom-utama{
        width: auto;
    }    


    .container-11{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    

    .container-22{
        width: auto;
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .sidebar{
    background:  #2F323A;
    margin-top: -75px;
    padding-top: 40px;
    position: fixed;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
        
    }


    
.sidebar .profile{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-bottom: 10px;

}


.sidebar h4{
    color: #ccc;
    font-size: 0.4em;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar h5{
    color: yellow;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.6em;
}

.sidebar a{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 3px;
    transition: 0.5s;
    box-sizing: border-box;
    font-size: 50%;
}

.sidebar a:hover{
    font-size: 0.7em;
    background: #19B3D3;
}

}

/* hp */

@media screen and (max-width: 576px ){

    .menu-toggle{
        display: flex;
    }
    
    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgb(0, 165, 141);
        top: 0;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        transform: translateX(100%);
        transition: 1s;
        opacity: 0;
    }


    nav ul.slide{
        opacity: 1;
        transform:translateX(0);
    }



    .sidebar{
        background:  #2F323A;
        margin-top: -75px;
        padding-top: 40px;
        position: fixed;
        left: 0;
        width: 38px;
        height: 100%;
        display: flex;
        flex-direction: column;
            
        }
    
    
        
    .sidebar .profile{
        width: 15px;
        height: 15px;
        border-radius: 100px;
        margin-bottom: 10px;
    
    }
    
    
    .sidebar h4{
        color: #ccc;
        font-size: 0.4em;
        margin-top: 0;
        margin-bottom: 20px;
    }
    
    .sidebar h5{
        color: yellow;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 0.4em;
    }
    
    
    .sidebar a{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 30px;
        padding-left: 1px;
        transition: 0.5s;
        box-sizing: border-box;
        font-size: 25%;
    }
    
    .sidebar a:hover{
        font-size: 0.4em;
        background: #19B3D3;
    }


   
    
}


/* tablet */

@media screen and (max-width: 1268px ){
    
    nav ul {
        width: 50%;
    }

    
    .container-1{
        width: auto;
        margin-left: 220px;
    }   

    

}



