p{
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(238, 170, 25);
    font-size: 4em;
}

h1{
    font-size: 4em;
    margin-left: 30;
    
}

i{
    font-weight: bold;
    color: red;

}